/* ====================== css media query ====================== */
/* ============ extra small screen ============ */
@media screen and (max-width: 575px) {
  /* utilities */
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: 500;
  }
  /* ============ nav bar section ============ */
  .navbar-item {
    margin: 0 0.7rem;
    padding: 0.4rem 0;
  }

  .buy-now-button {
    display: none;
  }

  /* ============= inner section ============= */
  #inner .row {
    padding: 0;
  }

  .social-links {
    margin-bottom: 3rem;
  }

  .inner-col-one {
    order: 1;
    margin-top: 5rem;
  }

  /* =============== resume section =============== */
  .institute-name-rating {
    flex-direction: column;
    align-items: flex-start;
  }

  .institute-name {
    margin-bottom: 1rem;
  }

  /* ============== testimonial section ============== */
  .quote-arrow-button {
    display: none;
  }

  .about-client {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ========================= pricing section ========================= */
  .category-content {
    padding: 1.5rem;
  }

  .pricing-category {
    width: 95%;
    margin: auto;
  }

  .package-name-and-value {
    flex-direction: column;
    align-items: flex-start;
  }

  .package-name {
    margin-bottom: 1rem;
  }
}

/* ============ small screen ============ */
@media screen and (min-width: 576px) and (max-width: 767px) {
  /* utilities */
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  #inner .row {
    max-width: 95%;
  }

  .container-xl {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ============ nav bar section ============ */
  .navbar-item {
    margin: 0 0.7rem;
    padding: 0.4rem 0;
  }

  .buy-now-button {
    display: none;
  }

  /* ============= inner section ============= */
  .social-links {
    margin-bottom: 3rem;
  }

  .inner-col-one {
    order: 1;
    margin-top: 5rem;
  }

  /* =============== resume section =============== */
  .institute-name-rating {
    flex-direction: column;
    align-items: flex-start;
  }

  .institute-name {
    margin-bottom: 1rem;
  }

  /* ============== testimonial section ============== */
  .portfolio-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .portfolio-image {
    width: 135px;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  .portfolio-detailes {
    margin-top: 0;
  }

  .quote-arrow-button {
    display: none;
  }
}

/* ============ medium screen ============ */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* utilities */
  .container-xl {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ============ nav bar section ============ */
  .navbar-item {
    margin: 0 0.7rem;
    padding: 0.4rem 0;
  }

  .buy-now-button {
    display: none;
  }

  /* =========== inner section =========== */
  .inner-col-one {
    order: 1;
    margin-top: 5rem;
  }

  /* ============== testimonial section ============== */
  .portfolio-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .portfolio-image {
    width: 175px;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  .portfolio-detailes {
    margin-top: 0;
  }

  .quote-arrow-button {
    display: none;
  }
}

/* ============ learge screen ============ */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* utilities */
  .container-xl {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

  /* =========== header section =========== */
  .navbar-item {
    margin: 0 0.5rem;
  }

  /* =========== inner section =========== */
  .inner-col-one {
    order: 1;
    margin-top: 5rem;
  }

  /* ============== testimonial section ============== */
  .about-client {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ============== testimonial section ============== */
  .category-content {
    padding: 2.7rem;
  }
}

/* ============ extra learge screen ============ */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  /* =============== header section =============== */
  nav.navbar {
    padding: 1.5rem 4rem;
  }

  /* =============== inner section =============== */
  .inner-col-one {
    flex-basis: 55%;
  }

  .col-person-image {
    flex-basis: 45%;
  }

  /* ============== testimonial section ============== */
  .about-client {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ============ x-extra learge screen ============ */
@media screen and (min-width: 1400px) {
  /* =============== header section =============== */
  nav.navbar {
    padding: 1.5rem 4rem;
  }

  /* =============== inner section =============== */
  .inner-col-one {
    flex-basis: 55%;
  }

  .col-person-image {
    flex-basis: 45%;
  }

  /* ============== testimonial section ============== */
  .about-client {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
